body {
  width: 25%;
}

h1 {
  font-style: italic;
  font-size: 24px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h4{
  color: #BAB6B6;
  font-weight: lighter;
  margin: 0px;
  font-size: 10px;
  padding-top: 8px;
}

p{
  font-size: 15px;
  margin: 0px;
}

ul{
  padding: 0px;
  margin: 0px;
}

li{
  font-size: 12px;
  list-style-type: none;
  display: inline;
  padding: 0px;
  margin: 0px;
  color:#3D6B88;
}

img {
  float: left;
  padding-right: 3px;
  padding-top: 5px;
}